<section id='errors'>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Eroare</div>
        <div class="card-body">
            <h4 class="card-title">{{error}}</h4>
        </div>
    </div>
</section>