<section id='remove-result'>

    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Sterge profil</div>
        <div class="card-body">
            <h4 class="card-title">Esti sigur ca vrei sa stergi profilul: {{ nume }} </h4>
            <a href="/index/delete/{{ profile_id }}/true" class="btn btn-block btn-danger">Da</a>
            <a href='/index' class='btn btn-block btn-outline-primary'>Nu</a>
        </div>
    </div>

</section>