<section id='results content'>
    <h1>All results</h1>

    {{#each results}}

        <div class="card-content">
            <div class='textContent'>
                <h2>Firma: {{nume}}</h2>
                <h2>Tip masina: {{model_masina}}</h2>
                <h3>Nr. inmatriculare: {{nr_inmatriculare}}</h3>
            </div>
            <ul class='actionBtn'>
                <li class='viewBtn'><a href='#'>Vezi mai mult</a></li>
                <li class='editBtn'><a href='#'>Editeaza</a></li>
                <li class='deleteBtn'><a href='#'>Sterge</a></li>
            </ul>

        </div>

    {{else}}
    <p>Nu sunt rezultate</p>
    {{/each}}
</section>