body {
  margin: 0;
  padding: 0;
  background: rgb(34, 34, 34);
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  height: 200vh;
}

.content {
  width: 80%;
  margin: 4rem auto;
}

header {
  margin: 0;
  padding: 0;
  background: rgba(27, 173, 180, 0.8);
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  grid-column: 1/2;
  margin-left: 4rem;
}

.search-bar {
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

nav {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  margin-bottom: 0;
  margin-left: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem;
  position: relative;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background: black;
  position: absolute;
  top: -0.3em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav a:hover::before {
  transform: scale(1, 1);
}
